<nav class="nav" [class]=isAffix>
  <div class="container-fluid">
    <div class="logo">
      <a href="#" id="homeFont">Home</a>
    </div>
    <div id="mainListDiv" class="main_list" #stickyMenu [class]=isSticky>
      <ul class="navlinks">
        <li><a href="#">About</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>
