.app-wrapper {
  width: 100%;
  height: 100vh;
  /* background-image: url(../assets/images/introduction.jpg);
  background-position: center top;
  background-size: cover; */
}

.container {
  float: left;
  height: 25vh;
  width: 100%;
  padding-left: 3rem;
  padding-right:3rem;
  /* background-color: rgba(218, 206, 206, 0.418); */
}


.servers-wrapper{
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 4rem;
  z-index: -2;
}
h2 {
  color: darkblue;
}

.temp-filler {
    background-color: #2B4D66;
    padding: 3rem;
    height: 800px;
    font-size: 2.5vh;
    color: rgb(255, 253, 253);
    -webkit-font-smoothing: antialiased;
}

/* #sticky-footer {
    flex-shrink: 0;
  } */

  .site-footer {
    clear: both;
    position: relative;
    flex-shrink: 0;
}
